# Ignore all LaTeX build files
*.aux
*.log
*.toc
*.out

# Ignore Python bytecode
__pycache__/
*.pyc

# Ignore Jupyter checkpoints
.ipynb_checkpoints/

# Ignore system files
.DS_Store

# Ignore VS Code settings
.vscode/

# Ignore pictures
*.png 
